*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Backend/config/config.env
/Backend/node_modules
/Python/Acc Data Observation/RunOrWalk
/Python/Acc Data Observation/.ipynb_checkpoints
/Python/Acc Data Observation/trained_models
/app/src/main/assets
/Python/Acc Data Observation/sample_datasets